body {
	background-color: transparent;
	background-image: url('../../assets/img/white-tools.png'), url('../../assets/img/blueprint.jpg');
	background-position: bottom left, top left;
	background-repeat: no-repeat, repeat;
	background-size: 300px, auto;
}

#section-main {
	.media + .media {
		border-top: none;
	}
}

.media {
	.media-left {
		i {
			$size: 2rem;
			text-align: center;
			font-size: $size;
			color: #fff;
			width: ($size * 2);
			height: ($size * 2);
			border-radius: 50%;
			line-height: ($size * 2);
			background-color: hsl(217, 71%, 53%);
		}
	}
}

.hero {
	&.is-fullheight {
		&.ext-hero {
			.hero-body {
				align-items: normal;

				.container {
					display: flex;

					.box {
						flex-grow: 1;
						flex-shrink: 1;
					}
				}
			}
		}
	}
}